In [27]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [28]:
df= pd.read_csv("C:\\Users\\DELL\\Downloads\\my_movies.csv")
df.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

In [29]:
df.isnull().sum()

V1               0
V2               0
V3               3
V4               8
V5               9
Sixth Sense      0
Gladiator        0
LOTR1            0
Harry Potter1    0
Patriot          0
LOTR2            0
Harry Potter2    0
LOTR             0
Braveheart       0
Green Mile       0
dtype: int64

In [30]:
df.describe()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,0.600000,0.700000,0.200000,0.200000,0.600000,0.200000,0.100000,0.100000,0.100000,0.200000
std,0.516398,0.483046,0.421637,0.421637,0.516398,0.421637,0.316228,0.316228,0.316228,0.421637
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [31]:
df["V3"]=df.fillna(df.mode().iloc[:,1:2])
df.isnull().sum()

V1               0
V2               0
V3               0
V4               8
V5               9
Sixth Sense      0
Gladiator        0
LOTR1            0
Harry Potter1    0
Patriot          0
LOTR2            0
Harry Potter2    0
LOTR             0
Braveheart       0
Green Mile       0
dtype: int64

In [32]:
df["V4"]=df.fillna(df.mode().iloc[:,2:3])
df.isnull().sum()

V1               0
V2               0
V3               0
V4               0
V5               9
Sixth Sense      0
Gladiator        0
LOTR1            0
Harry Potter1    0
Patriot          0
LOTR2            0
Harry Potter2    0
LOTR             0
Braveheart       0
Green Mile       0
dtype: int64

In [33]:
df["V5"]=df.fillna(df.mode().iloc[:,3:4])
df.isnull().sum()

V1               0
V2               0
V3               0
V4               0
V5               0
Sixth Sense      0
Gladiator        0
LOTR1            0
Harry Potter1    0
Patriot          0
LOTR2            0
Harry Potter2    0
LOTR             0
Braveheart       0
Green Mile       0
dtype: int64

In [34]:
df.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Sixth Sense,Sixth Sense,Sixth Sense,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Gladiator,Gladiator,Gladiator,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,LOTR1,LOTR1,LOTR1,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Gladiator,Gladiator,Gladiator,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Gladiator,Gladiator,Gladiator,1,1,0,0,1,0,0,0,0,0

In [35]:
df_new=pd.get_dummies(df,columns=['V1','V2','V3','V4','V5'])
df_new

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V3_LOTR1,V3_Sixth Sense,V4_Gladiator,V4_Harry Potter1,V4_LOTR1,V4_Sixth Sense,V5_Gladiator,V5_Harry Potter1,V5_LOTR1,V5_Sixth Sense
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,1,0,0,0,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
5,1,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
6,0,0,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
7,0,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
8,1,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
9,1,1,0,0,0,0,0,1,0,1,...,0,1,0,0,0,1,0,0,0,1

In [36]:
df_new.describe()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V3_LOTR1,V3_Sixth Sense,V4_Gladiator,V4_Harry Potter1,V4_LOTR1,V4_Sixth Sense,V5_Gladiator,V5_Harry Potter1,V5_LOTR1,V5_Sixth Sense
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,0.600000,0.700000,0.200000,0.200000,0.600000,0.200000,0.100000,0.100000,0.100000,0.200000,...,0.100000,0.200000,0.600000,0.100000,0.100000,0.200000,0.600000,0.100000,0.100000,0.200000
std,0.516398,0.483046,0.421637,0.421637,0.516398,0.421637,0.316228,0.316228,0.316228,0.421637,...,0.316228,0.421637,0.516398,0.316228,0.316228,0.421637,0.516398,0.316228,0.316228,0.421637
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [37]:
frequent_itemsets = apriori(df_new, min_support=0.1, use_colnames=True)
frequent_itemsets.head()

   support         itemsets
0      0.6    (Sixth Sense)
1      0.7      (Gladiator)
2      0.2          (LOTR1)
3      0.2  (Harry Potter1)
4      0.6        (Patriot)

In [38]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.75)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
2,(Green Mile),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
3,(V1_Sixth Sense),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
4,(V2_LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
...,...,...,...,...,...,...,...,...,...
67794,"(Sixth Sense, LOTR2)","(Green Mile, V2_LOTR1, V1_Sixth Sense, LOTR1, ...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
67795,"(LOTR2, V5_Sixth Sense)","(Green Mile, V2_LOTR1, V1_Sixth Sense, LOTR1, ...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
67796,"(LOTR2, V4_Sixth Sense)","(Green Mile, V2_LOTR1, V1_Sixth Sense, LOTR1, ...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
67797,"(V3_Sixth Sense, LOTR2)","(Green Mile, V2_LOTR1, V1_Sixth Sense, LOTR1, ...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
67798,(V2_LOTR1),"(Green Mile, V1_Sixth Sense, Harry Potter1, LO...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf

In [39]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.75)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
2,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
3,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
4,(Sixth Sense),(Harry Potter1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
...,...,...,...,...,...,...,...,...,...
88959,(Sixth Sense),"(Green Mile, V2_LOTR1, V1_Sixth Sense, Harry P...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
88960,(V5_Sixth Sense),"(Green Mile, V2_LOTR1, V1_Sixth Sense, Harry P...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
88961,(V4_Sixth Sense),"(Green Mile, V2_LOTR1, V1_Sixth Sense, Harry P...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
88962,(V3_Sixth Sense),"(Green Mile, V2_LOTR1, V1_Sixth Sense, Harry P...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
88963,(LOTR2),"(Green Mile, V2_LOTR1, V1_Sixth Sense, Harry P...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80

In [40]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
6,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
7,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
10,(Sixth Sense),(LOTR),0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
...,...,...,...,...,...,...,...,...,...
88959,(Sixth Sense),"(Green Mile, V2_LOTR1, V1_Sixth Sense, Harry P...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
88960,(V5_Sixth Sense),"(Green Mile, V2_LOTR1, V1_Sixth Sense, Harry P...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
88961,(V4_Sixth Sense),"(Green Mile, V2_LOTR1, V1_Sixth Sense, Harry P...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
88962,(V3_Sixth Sense),"(Green Mile, V2_LOTR1, V1_Sixth Sense, Harry P...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
88963,(LOTR2),"(Green Mile, V2_LOTR1, V1_Sixth Sense, Harry P...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80

In [41]:
frequent_itemsets = apriori(df_new, min_support=0.2, use_colnames=True)
frequent_itemsets.head()

   support         itemsets
0      0.6    (Sixth Sense)
1      0.7      (Gladiator)
2      0.2          (LOTR1)
3      0.2  (Harry Potter1)
4      0.6        (Patriot)

In [42]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.55)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
3,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
4,(Green Mile),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
...,...,...,...,...,...,...,...,...,...
6618,(V3_Gladiator),"(Gladiator, Patriot, Sixth Sense, V2_Patriot, ...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6619,(V2_Patriot),"(Gladiator, Patriot, Sixth Sense, V3_Gladiator...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6620,(V4_Gladiator),"(Gladiator, Patriot, Sixth Sense, V3_Gladiator...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6621,(V1_Gladiator),"(Gladiator, Patriot, Sixth Sense, V3_Gladiator...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6622,(V5_Gladiator),"(Gladiator, Patriot, Sixth Sense, V3_Gladiator...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8

In [43]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.55)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
3,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
4,(Sixth Sense),(Green Mile),0.6,0.2,0.2,0.333333,1.666667,0.08,1.2
...,...,...,...,...,...,...,...,...,...
6649,(V3_Gladiator),"(Gladiator, Patriot, Sixth Sense, V2_Patriot, ...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6650,(V2_Patriot),"(Gladiator, Patriot, Sixth Sense, V3_Gladiator...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6651,(V4_Gladiator),"(Gladiator, Patriot, Sixth Sense, V3_Gladiator...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6652,(V1_Gladiator),"(Gladiator, Patriot, Sixth Sense, V3_Gladiator...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6653,(V5_Gladiator),"(Gladiator, Patriot, Sixth Sense, V3_Gladiator...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8

In [44]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
3,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
4,(Sixth Sense),(Green Mile),0.6,0.2,0.2,0.333333,1.666667,0.08,1.2
...,...,...,...,...,...,...,...,...,...
6649,(V3_Gladiator),"(Gladiator, Patriot, Sixth Sense, V2_Patriot, ...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6650,(V2_Patriot),"(Gladiator, Patriot, Sixth Sense, V3_Gladiator...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6651,(V4_Gladiator),"(Gladiator, Patriot, Sixth Sense, V3_Gladiator...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6652,(V1_Gladiator),"(Gladiator, Patriot, Sixth Sense, V3_Gladiator...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6653,(V5_Gladiator),"(Gladiator, Patriot, Sixth Sense, V3_Gladiator...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8

In [45]:
frequent_itemsets = apriori(df_new, min_support=0.5, use_colnames=True)
frequent_itemsets.head()

   support        itemsets
0      0.6   (Sixth Sense)
1      0.7     (Gladiator)
2      0.6       (Patriot)
3      0.6  (V1_Gladiator)
4      0.6    (V2_Patriot)

In [46]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.95)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Patriot),(Gladiator),0.6,0.7,0.6,1.0,1.428571,0.18,inf
1,(V1_Gladiator),(Gladiator),0.6,0.7,0.6,1.0,1.428571,0.18,inf
2,(V2_Patriot),(Gladiator),0.6,0.7,0.6,1.0,1.428571,0.18,inf
3,(V3_Gladiator),(Gladiator),0.6,0.7,0.6,1.0,1.428571,0.18,inf
4,(V4_Gladiator),(Gladiator),0.6,0.7,0.6,1.0,1.428571,0.18,inf
...,...,...,...,...,...,...,...,...,...
1864,(V3_Gladiator),"(Gladiator, Patriot, V4_Gladiator, V2_Patriot,...",0.6,0.6,0.6,1.0,1.666667,0.24,inf
1865,(V2_Patriot),"(Gladiator, Patriot, V3_Gladiator, V4_Gladiato...",0.6,0.6,0.6,1.0,1.666667,0.24,inf
1866,(V4_Gladiator),"(Gladiator, Patriot, V3_Gladiator, V2_Patriot,...",0.6,0.6,0.6,1.0,1.666667,0.24,inf
1867,(V1_Gladiator),"(Gladiator, Patriot, V3_Gladiator, V4_Gladiato...",0.6,0.6,0.6,1.0,1.666667,0.24,inf
1868,(V5_Gladiator),"(Gladiator, Patriot, V3_Gladiator, V4_Gladiato...",0.6,0.6,0.6,1.0,1.666667,0.24,inf

In [47]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.95)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(Gladiator),(Patriot),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8
3,(Patriot),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
4,(Gladiator),(V1_Gladiator),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8
...,...,...,...,...,...,...,...,...,...
1929,(V3_Gladiator),"(Gladiator, Patriot, V4_Gladiator, V2_Patriot,...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf
1930,(V2_Patriot),"(Gladiator, Patriot, V3_Gladiator, V4_Gladiato...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf
1931,(V4_Gladiator),"(Gladiator, Patriot, V3_Gladiator, V2_Patriot,...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf
1932,(V1_Gladiator),"(Gladiator, Patriot, V3_Gladiator, V4_Gladiato...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf
1933,(V5_Gladiator),"(Gladiator, Patriot, V3_Gladiator, V4_Gladiato...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf

In [48]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(Gladiator),(Patriot),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8
3,(Patriot),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
4,(Gladiator),(V1_Gladiator),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8
...,...,...,...,...,...,...,...,...,...
1929,(V3_Gladiator),"(Gladiator, Patriot, V4_Gladiator, V2_Patriot,...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf
1930,(V2_Patriot),"(Gladiator, Patriot, V3_Gladiator, V4_Gladiato...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf
1931,(V4_Gladiator),"(Gladiator, Patriot, V3_Gladiator, V2_Patriot,...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf
1932,(V1_Gladiator),"(Gladiator, Patriot, V3_Gladiator, V4_Gladiato...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf
1933,(V5_Gladiator),"(Gladiator, Patriot, V3_Gladiator, V4_Gladiato...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf

## Top 15 Rules

In [49]:
rules.sort_values("lift",ascending=True)[0:15]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
383,"(V5_Gladiator, V4_Gladiator, Patriot)",(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
369,"(V5_Gladiator, V3_Gladiator, Patriot)",(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
1627,"(Patriot, V3_Gladiator, V2_Patriot, V4_Gladiat...",(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
355,"(V3_Gladiator, V4_Gladiator, Patriot)",(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
341,"(V5_Gladiator, V2_Patriot, Patriot)",(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
327,"(V4_Gladiator, Patriot, V2_Patriot)",(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
313,"(V3_Gladiator, V2_Patriot, Patriot)",(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
299,"(V5_Gladiator, V1_Gladiator, Patriot)",(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
1689,"(V3_Gladiator, V1_Gladiator, V2_Patriot, V4_Gl...",(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
285,"(V1_Gladiator, V4_Gladiator, Patriot)",(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
271,"(V1_Gladiator, V3_Gladiator, Patriot)",(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
257,"(V1_Gladiator, V2_Patriot, Patriot)",(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
1814,"(Patriot, V3_Gladiator, V4_Gladiator, V2_Patri...",(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf

## Removing Duplicates

In [25]:
def to_list(i):
    return (sorted(list(i)))

In [26]:
X = rules.antecedents.apply(to_list)+rules.consequents.apply(to_list)
X = X.apply(sorted)
rules_sets = list(X)
unique_rules_sets = [list(m) for m in set(tuple(i) for i in rules_sets)]
index_rules = []
for i in unique_rules_sets:
    index_rules.append(rules_sets.index(i))
    
rules_no_redudancy  = rules.iloc[index_rules,:]
rules_no_redudancy.shape
#396 rules
rules_no_redudancy.sort_values('lift',ascending=False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
296,"(Gladiator, V1_Gladiator, Patriot)",(V5_Gladiator),0.6,0.6,0.6,1.0,1.666667,0.24,inf
62,"(Gladiator, V4_Gladiator)",(Patriot),0.6,0.6,0.6,1.0,1.666667,0.24,inf
660,"(V5_Gladiator, V4_Gladiator, Patriot)",(V3_Gladiator),0.6,0.6,0.6,1.0,1.666667,0.24,inf
16,(V2_Patriot),(Patriot),0.6,0.6,0.6,1.0,1.666667,0.24,inf
702,"(V5_Gladiator, V1_Gladiator, V4_Gladiator)",(V2_Patriot),0.6,0.6,0.6,1.0,1.666667,0.24,inf
774,"(V2_Patriot, Gladiator, V4_Gladiator, Patriot)",(V1_Gladiator),0.6,0.6,0.6,1.0,1.666667,0.24,inf
92,"(Gladiator, V1_Gladiator)",(V5_Gladiator),0.6,0.6,0.6,1.0,1.666667,0.24,inf
324,"(Gladiator, V4_Gladiator, V2_Patriot)",(Patriot),0.6,0.6,0.6,1.0,1.666667,0.24,inf
520,"(Gladiator, V5_Gladiator, V4_Gladiator)",(V3_Gladiator),0.6,0.6,0.6,1.0,1.666667,0.24,inf
1436,"(Gladiator, Patriot, V3_Gladiator, V2_Patriot,...",(V5_Gladiator),0.6,0.6,0.6,1.0,1.666667,0.24,inf